body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer {
    color: whitesmoke;
    min-height: 100px;
}
.bg-primary {
    background-color: #162638 !important;
}
.border-primary {
    border-color: #162638 !important;
}
.text-primary {
    color: #162638 !important;
}

.nav-link,
.nav-link:focus,
.nav-link:hover {
    color: #162638;
}

.nav-pills .nav-link.active {
    font-size: 20px;
    background-color: #162638 !important;
    color: white;
    transition-property: background-color font-size;
    transition-duration: 1.2s;
}

.card-title {
    margin-bottom: 0;
}